*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
main{
  background-color:  #B4CFB0;
}
section{
  background-color:  #94B49F;
}
footer{
  background-color: #789395 ;
}
nav{
  margin: 1rem;
}
.links{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
header li {
  margin-left: 3rem;
  text-decoration: none;
  list-style: none;
  color: rgb(63, 56, 68);
}
li a {
  color: rgb(63, 56, 68);
  text-decoration: none;
}
li a:hover{
  color:#789395 ;
}
.logo{
  margin: 1rem;
}
.titulo {
  margin: 1rem; 
}
.titulo a {
  text-decoration: none;
  color:rgb(63, 56, 68) ;
}
.titulo a:hover{
  color: #789395;
}
.carritoCantidad{
  margin-left: 1rem;
}
.App{
  display: flex;
  justify-content: space-around;
}
.card{
  border: solid 3px #789395;
  margin: 2px;
  background-color: #94B49F;
}
.card button{
  margin-left: 30%;
}
.imgCard{
  width: 10rem;
  height: 10rem;
}
.textCenter{
  text-align: center;
}
.cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem;
}