@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;;
}
main{
  background-color:  #B4CFB0;
}
.fondo{
  background-color: #B4CFB0;
}
footer{
  background-color: #789395 ;
}
header{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
  background-color: #E5E3C9;
  color: white;
}
nav{
  margin: 1rem;
}
div .links{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
header li {
  margin-left: 3rem;
  text-decoration: none;
  list-style: none;
  color: rgb(63, 56, 68);
}
li a {
  color: rgb(63, 56, 68);
  text-decoration: none;
}
li a:hover{
  color:#789395 ;
}
.logo{
  margin: 1rem;
}
.titulo {
  margin: 1rem; 
}
.titulo a {
  text-decoration: none;
  color:rgb(63, 56, 68) ;
}
.titulo a:hover{
  color: #789395;
}
.carritoCantidad{
  margin-left: 1rem;
  color:#789395;
}
.App{
  display: flex;
  justify-content: space-around;
}
.card{
  border: solid 3px #789395;
  margin: 2px;
  background-color: #94B49F;
}
.card button{
  margin-left: 30%;
}
.imgCard{
  width: 10rem;
  height: 10rem;
}
.textCenter{
  text-align: center;
}
.cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem;
}
.Detalle{
  display: flex;
  justify-content: center;
}
.ImgDetalle{
  margin: 1rem;
  width: 18rem;
  height: 18rem;
}
.comprarBtn{
  height: 3rem;
  width: 5rem;
  background-color: #789395;
  align-self: flex-end;
  margin: 1rem;
}
.Detalle .precio{
  align-self: flex-start;
  justify-self: center;
  margin: 1rem;
}
.Detalle .stock{
  align-self: flex-end;
  margin: 1rem;
}
.Detalle .desc{
  align-self: center;
  margin: 1rem;
}
.cartContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem;
}
.container{
  display: flex;
  justify-content: center;
}
.container2{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.Btn{
  height: 3rem;
  width: 5rem;
  background-color:  #94B49F;
  align-self: flex-end;
  margin: 1rem;
}
.btnVer{
  background-color:  #B4CFB0;
}
.fondo2{
  background-color: #94B49F;
}